CLOUDFLARE_API_TOKEN=
BUNNYCDN_API_KEY=

SMTP_SKIP_DOMAINS=

CERTBOT_SERVER=SERVER1
NGINX_SERVER=SERVER1
POSTFIX_SERVER=SERVER2

SERVER1_HOST=
SERVER1_PORT=22
SERVER1_USER=
SERVER1_PASSWORD=

SERVER2_HOST=
SERVER2_PORT=22
SERVER2_USER=
SERVER2_PASSWORD=