CLOUDFLARE_API_TOKEN=
BUNNYCDN_API_KEY=

MAIL_SERVER_HOST=
MAIL_SERVER_PORT=22
MAIL_SERVER_USER=
MAIL_SERVER_PASSWORD=

NGINX_MODE=ssh # or local

WEB_SERVER_HOST=
WEB_SERVER_PORT=22
WEB_SERVER_USER=
WEB_SERVER_PASSWORD=